<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>

    <table class="table table-bordered table-sm table-responsive-lg table-responsive-md table-responsive-sm" *ngIf="sources.length">
      <thead>
      <tr>
        <td>Name</td>
        <td>Total news count</td>
        <td>News lists</td>
        <td>Actions</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let source of sources">
        <td>
          <a [href]="source.source" target="_blank">
            {{ source.name }}
          </a>
        </td>
        <td>
          {{ source.total_count }}
        </td>
        <td>
          <a [routerLink]="['/feed', source.id, 'news', 'top-5']">
            Top-5
          </a> |
          <a [routerLink]="['/feed', source.id, 'news', 'all']">
            All news
          </a>
        </td>
        <td>
          <button class="btn btn-sm btn-success" (click)="runCrawler(source.id)">Crawl</button>
        </td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" class="text-center">
            <button class="btn btn-danger btn-lg" (click)="loadFeeds()">Refresh feeds</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
