<div class="outer-alerts">
  <ngb-alert *ngFor="let alert of alerts" [type]="getAlertType(alert)" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
