<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/']">Dashboard</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="title">
          <span *ngIf="sourceDetail">Feed "{{ sourceDetail.name }}"</span> - {{ title }}
        </li>
      </ol>
    </nav>

    <table class="table table-bordered table-sm table-responsive-lg table-responsive-md table-responsive-sm" *ngIf="newsList.length">
      <thead>
      <tr>
        <td>News</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let news of newsList">
        <td>
          <a [href]="news.link" target="_blank">
            {{ news.title }}
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="showPagination && collectionSize">
      <ngb-pagination
        [(collectionSize)]="collectionSize"
        [(pageSize)]="paginateBy"
        [(page)]="currentPage"
        [rotate]="true" [boundaryLinks]="true"
        (pageChange)="onPageChange($event)"></ngb-pagination>

      <!--ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" (pageChange)="onPageChange($event)"></ngb-pagination-->
    </div>
  </div>
</div>
